* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 1em;
}

#slider {
    width: 64vmin;
}

#grid-container {
    width: 64vmin;
    height: 64vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid-item {
    border: 1px solid black;
}