* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    padding: 1em;
    width: 100%;
    text-align: center;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
}

#color-selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vmin;
}

#color-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#slider-grid-size {
    width: 64vmin;
}

#slider-grid-size-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container {
    width: 64vmin;
    height: 64vmin;
    box-sizing: initial;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#button-reset-grid {
    margin: 1em;
    width: 10vmin;
    height: 5vmin;
    min-width: 50px;
    min-height: 27px;
}

.show-border {
    border: 1px solid lightgrey;
}